{{page-title "Order"}}
<button class="ui button brown" type="button" {{action "retour"}}>
  Retour aux commandes à préparer
</button>
<br><br>
<span class="ui label black"> {{@model.user.name}}  ({{@model.user.email}}) </span>
<br><br>
<span class="ui label"> {{@model.dateCreation}} </span>

<table class="ui celled table">
  <thead>
  <tr><th>Produit</th>
    <th>Quantité</th>
    <th>Prix</th>
    <th>Montant</th>
    <th>Preparation</th>
  </tr></thead>
  <tbody>
  <tr>
    <td data-label="Produit">James</td>
    <td data-label="Quantité">24</td>
    <td data-label="Job">Engineer</td>
    <td></td>
    <td></td>
  </tr>
  <tr>
    <td data-label="Produit">Jill</td>
    <td data-label="Age">26</td>
    <td data-label="Job">Engineer</td>
    <td></td>
    <td></td>
  </tr>
  </tbody>
  <tfoot>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
  </tr>
  </tfoot>
</table>



<h2>Produit préparés({{@model.count}})</h2>
{{#each @model.product as |product|}}
  {{#if @model.prepare}}
    <LinkTo {{product.name}}>
      {{product.name}} <span class="ui circular label">{{@model.count}}</span>


    </LinkTo>
    <button class="ui green button"><i class="ui check icon"></i> Valider pour {{@model.toPay}} </button>
  {{/if}}
{{/each}}
{{outlet}}