{{page-title "Order"}}
<button class="ui button brown" type="button" {{action "retour"}}>
  Retour aux commandes à préparer
</button>
<br><br>
<span class="ui label black"> {{@model.user.name}}  ({{@model.user.email}}) </span>
<br><br>
<span class="ui label"> {{@model.dateCreation}} </span>


<table class="ui table">
  <tr>
    <td><b>Produit</b></td>
    <td><b>Quantité</b></td>
    <td><b>Prix</b></td>
    <td><b>Montant</b></td>
    <td><b>Preparation</b></td>
  </tr>

  {{#each @model.orderdetails as |details|}}
    <tr >
      <td>{{details.product.name}}</td>
      <td>{{details.quantity}}</td>
      <td>{{details.product.price}} €</td>
      <td>{{details.amount}} €</td>
      <td> <Input @type="checkbox" @checked={{details.prepared}} /> </td>
    </tr>
  {{/each}}
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td>{{@model.amount}} €</td>
    <td>{{@model.toPay}} €</td>
  </tr>

</table>

<h2>Produits préparés ({{@model.count}})</h2>
{{#each @model.orderdetails as |details|}}
  {{details.product.nom}}
{{/each}}
{{outlet}}