{{page-title "Step1"}}


<MultiSelect class="form-control" @elements={{this.dispoItems}}
@selected={{this.dispoItems_}}
@onChange = {{this.changeDispo}} />

<button disabled="{{if this.dispoItems_ '' ''}}" {{action "add" this.dispoItems this.includedItems this.dispoItems_}} class="btn btn-primary"> 
    <i class="bi bi-chevron-bar-right"></i>
</button>

<div {{action "add" this.dispoItems this.includedItems this.dispoItems_}} class="btn btn-primary"> ▶| </div>
<div {{action "add" this.dispoItems this.includedItems this.dispoItems}} class="btn btn-primary"> ▶▶| </div>
<div {{action "add" this.includedItems this.dispoItems this.includedItems_}} class="btn btn-primary"> |◀ </div>
<div {{action "add" this.includedItems this.dispoItems this.includedItems}} class="btn btn-primary"> |◀◀ </div>

<MultiSelect class="form-control" @elements={{this.includedItems}}
@selected={{this.includedItems_}}
@onChange = {{this.changeIncluded}} />

<ul>
    {{#each this.dispoItems_ as |item|}}
        <li>{{item.title}}</li>
    {{/each}}
</ul>

{{outlet}}